* {
    margin: 0;
    padding: 0;
}

.mainDiscount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    height: 50px;
    width: 100%;
    font-family: "Cambria Math", "Arial Black", serif;
    font-size: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: black solid 1px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Cambria Math", "Bernard MT Condensed", ui-sans-serif;
    font-size: 25px;
}

.main .mainItem {
    width: 15%;
    background-color: yellow;
    font-size: 35px;
    font-family: "Arial Black", "Cambria Math", emoji;
}

.main .items1 {
    width: 40%;
}

.main .items2 {
    width: 10%;
}

.main .items3 {
    width: 25%;
}

.inputs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.duplicate {
    position: absolute;
    left: 2%;
    width: 25%;
    height: 400px;
}

.text {
    width: 100%;
    height: 60px;
    background-color: lightgray;
    color: black;
    font-size: 35px;
    border: black dotted 3px;
}

.textDuplicate {
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    color: black;
    font-size: 25px;
    border: black dotted 3px;
}

.searchName {
    position: absolute;
    left: 30%;
    width: 25%;
    height: 400px;
}

.textName {
    width: 100%;
    height: 60px;
    background-color: lightgray;
    color: black;
    font-size: 35px;
    border: black dotted 3px;
}

.names {
    width: 100%;
    height: 120px;
    background-color: whitesmoke;
    color: black;
    font-size: 25px;
    border: black dotted 3px;
}